<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block meta %}<!--block meta -->{% endblock %}
    <title>{% block title %} ?{% endblock %} -购票系统- </title>
    <link rel="stylesheet" href="/www/static/css/uikit.min.css">
    <link rel="stylesheet" href="/www/static/css/uikit.gradient.min.css">
    <link rel="stylesheet" href="/www/static/css/awesome.css">
    <script src="/www/static/js/jquery.min.js"></script>
    <script src="/www/static/js/sha1.min.js"></script>
    <script src="/www/static/js/uikit.min.js"></script>
    <script src="/www/static/js"></script>
</head>
<body>

</body>
</html>