{% extends '__base__.html' %}

{% block title %}注册{% endblock %}

{% block beforehead %}

    <script>
        $(function () {
            var vm = new Vue({
                el: '#vm',
                data: {
                    BusID:'',
                    BusFrom:'',
                    BusTo:'',
                    BusDate:'',
                    BusEnd:'',
                    TicketNum:'',
                    Price:''
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();
                        var $form = $('#vm');
                        if (!this.BusID) {
                            return $form.showFormError('请输入列车号！');
                        }
                        if (!this.BusFrom) {
                            return $form.showFormError('请输入始发站！');
                        }
                        if (!this.BusTo) {
                            return $form.showFormError('请输入终点站！');
                        }
                        if (!this.BusDate) {
                            return $form.showFormError('请输入发车时间！');
                        }
                        if (!this.BusEnd) {
                            return $form.showFormError('请输入到达时间！');
                        }
                        if (!this.TicketNum) {
                            return $form.showFormError('请输入车票数！');
                        }
                        if (!this.Price) {
                            return $form.showFormError('请输入票价！');
                        }

                        $form.postJSON('/manage/add_tickets', {

                            BusID: this.BusID,
                            BusFrom: this.BusFrom,
                            BusTo: this.BusTo,
                            BusDate:this.BusDate,
                            BusEnd:this.BusEnd,
                            TicketNum:this.TicketNum,
                            Price:this.Price
                        }, function (err, r) {
                            if (err) {
                                return $form.showFormError(err);
                            }
                            //console.log(r)
                            alert("添加成功！")
                            refresh()
                            //return location.assign('/api/admin_add_tickets');

                        });
                    }
                }
            });
            $('#vm').show();
        });
    </script>
{% endblock %}

{% block content %}


        <div class="uk-width-2-3">
            <h1>添加车票</h1>

            <form id="vm" v-on="submit: submit" class="uk-form uk-form-stacked">
                <div class="uk-alert uk-alert-danger uk-hidden"></div>
                <div class="uk-form-row">
                    <label class="uk-form-label">列车号:</label>
                    <div class="uk-form-controls">
                        <input v-model="BusID" type="text" maxlength="50" placeholder="列车号" class="uk-width-1-1">
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">始发站:</label>
                    <div class="uk-form-controls">
                        <input v-model="BusFrom" type="text" maxlength="50" placeholder="始发站" class="uk-width-1-1">
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">终点站:</label>
                    <div class="uk-form-controls">
                        <input v-model="BusTo" type="text" maxlength="50" placeholder="终点站" class="uk-width-1-1">
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">发车时间:</label>
                    <div class="uk-form-controls">
                        <input v-model="BusDate" type="date" maxlength="50" placeholder="发车时间" class="uk-width-1-1">
                    </div>
                </div>
                <div class="uk-form-row">
                    <label class="uk-form-label">到达时间:</label>
                    <div class="uk-form-controls">
                        <input v-model="BusEnd" type="date" maxlength="50" placeholder="到达时间"
                               class="uk-width-1-1">
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label">车票数:</label>
                    <div class="uk-form-controls">
                        <input v-model="TicketNum" type="tel" maxlength="50" placeholder="车票数"
                               class="uk-width-1-1">
                    </div>
                </div>

                <div class="uk-form-row">
                    <label class="uk-form-label">票价(元）:</label>
                    <div class="uk-form-controls">
                        <input v-model="Price" type="text" maxlength="50" placeholder="票价"
                               class="uk-width-1-1">
                    </div>
                </div>

                <div class="uk-form-row">
                    <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 确认添加</button>
                </div>
            </form>
        </div>





{% endblock %}