{% extends '__base__.html' %}

{% block title %}退票{% endblock %}

{% block beforehead %}
    <script>
        function refund(obj) {
            var tr1 = obj.parentNode.parentNode;
            var params = {
                "UserID":{{ __user__.UserID }},
                "OrderID": tr1.cells[0].innerHTML,

            };


            $.ajax({
                url: '/api/refund',
                method:'post',
                data: params,
                complete: function (data) {
                    console.log(data)
                },
                success:function (data) {
                    alert('退票成功，退票数量x1 ！')
                        refresh()

                    console.log(data)
                }}
            );
        }

    </script>
{% endblock %}

{% block content %}


    <table id="tickets">
        <thead>
        <tr>
            <th scope="col">订单号</th>
            <th scope="col">列车号</th>
            <th scope="col">始发站</th>
            <th scope="col">终点站</th>
            <th scope="col">发车日期</th>
            <th scope="col">退票</th>

        </tr>
        </thead>
        <tbody id="tbody">
        {% for order in orders %}
            <tr>
                <td>{{ order.OrderID }}</td>
                <td>{{ order.BusID }}</td>
                <td>{{ order.BusFrom }}</td>
                <td>{{ order.BusTo }}</td>
                <td>{{ order.BusDate }}</td>
                <td><input type='button' id='sub' value='退票' onclick = 'refund(this)'/></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <style class="text/css">
        #tickets {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 13px;
            text-align: center;
            margin: 45px;
            width: 1000px;
            border-collapse: collapse;
        }

        #tickets th {
            font-size: 13px;
            font-weight: normal;
            text-align: center;
            padding: 8px;
            background: #b9c9fe;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #039;
        }

        #tickets td {
            padding: 8px;
            background: #e8edff;
            border-bottom: 1px solid #fff;
            text-align: center;
            color: #669;
            border-top: 1px solid transparent;
        }

        #tickets tr:hover td {
            background: #d0dafd;
            color: #339;
        }
    </style>

{% endblock %}