{% extends '__base__.html' %}

{% block title %}购票{% endblock %}

{% block beforehead %}

    <script xmlns: xmlns: xmlns: xmlns: xmlns: xmlns: xmlns: xmlns:>
    </script>

    <script>
        $(function () {
            var vm = new Vue({
                el: '#vm',
                data: {
                    BusFrom: '',
                    BusTo: '',
                    BusDate: ''
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();
                        var $form = $('#vm');

                        if (!this.BusFrom) {
                            return $form.showFormError('请输入始发地！');
                        }
                        if (!this.BusTo) {
                            return $form.showFormError('请输入目的地！');
                        }
                        $form.postJSON('/api/query_buses', {
                            BusFrom: this.BusFrom,
                            BusTo: this.BusTo,
                            BusDate: this.BusDate
                        }, function (err, r) {
                            if (err) {
                                return $form.showFormError(err);
                            }
                            refresh2(r);
                        });
                    }
                }
            });
            $('#vm').show();
        });

        function refresh2(r) {
            console.log(r)
            for (var i = 0; i < r.length; i++) {
                var tr = document.createElement('tr');

                var td_BusID = document.createElement('td')
                var td_BusFrom = document.createElement('td')
                var td_BusTo = document.createElement('td')
                var td_BusDate = document.createElement('td')
                var td_BusEnd = document.createElement('td')
                var td_TicketNum = document.createElement('td')
                var td_Price = document.createElement('td')
                var td_Order = document.createElement('td');


                td_BusID.innerHTML = r[i].BusID;
                td_BusFrom.innerHTML = r[i].BusFrom;
                td_BusTo.innerHTML = r[i].BusTo;
                td_BusDate.innerHTML = r[i].BusDate;
                td_BusEnd.innerHTML = r[i].BusEnd;
                td_TicketNum.innerHTML = r[i].TicketNum;
                td_Price.innerHTML = r[i].Price;
                td_Order.innerHTML = "<input type='button' id='sub' value='预定' onclick = 'javascript : make_order(this)'/>";

                tr.appendChild(td_BusID);
                tr.appendChild(td_BusFrom);
                tr.appendChild(td_BusTo);
                tr.appendChild(td_BusDate);
                tr.appendChild(td_BusEnd);
                tr.appendChild(td_TicketNum);
                tr.appendChild(td_Price);
                tr.appendChild(td_Order);


                var tbody = document.getElementById('tbody');
                tbody.appendChild(tr);
            }
        }

        function make_order(obj) {
            var tr1 = obj.parentNode.parentNode;
            console.log(__user__.UserID);

            var params = {
                "UserID":__user__.UserID,
                "BusID": tr1.cells[0].innerHTML,
               // "BusFrom": tr1.cells[1].innerHTML,
               // "BusTo": tr1.cells[2].innerHTML,
                "BusDate": tr1.cells[3].innerHTML,
                //"BusEnd": tr1.cells[4].innerHTML,
{#                "TicketNum": tr1.cells[5].innerHTML,#}
            }

            $.ajax({
                url: '/api/add_order',
                method:'post',
                data: params,
                complete: function (data) {
                    // 这里获取后台数据 DATA 刷新当前页面的内容
                }}

            );

            var temp = document.createElement("form");
            //postOrder('/api/add_order', params)
            console.log(tr1.cells[0].innerHTML);

        }

        function postOrder(url, params) {
            var temp = document.createElement("form");
            temp.action = url;
            temp.method = "post";
            temp.style.display = "none";
            temp.id = 'form_order';
            temp.on

            for (var x in params) {
                var opt = document.createElement("textarea");
                opt.name = x;
                opt.value = params[x];
                temp.appendChild(opt);
            }

            document.body.appendChild(temp);
            console.log(temp.id)


            //temp.submit();
            //window.location.href('/')
            return temp;
        }


    </script>


{% endblock %}

{% block content %}
    <div class="input_control">
        <form id="vm" v-on="submit: submit">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <input v-model="BusFrom" type="text" size="55" placeholder="出发地点">
            <input v-model="BusTo" type="text" size="55" placeholder="到达地点">
            <input v-model="BusDate" type="text" size="55" placeholder="出发日期">
            <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 查询</button>

        </form>
    </div><br>


    <table id="tickets">
        <thead>
        <tr>
            <th scope="col">列车号</th>
            <th scope="col">始发站</th>
            <th scope="col">到达站</th>
            <th scope="col">发车日期</th>
            <th scope="col">到达日期</th>
            <th scope="col">剩余票数</th>
            <th scope="col">票价</th>
            <th scope="col" onclick="">预定</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>













    <style class="text/css">
        input[type="text"] {
            text-align: center;
            font-size: 1.4em;
            height: 2.0em;
            border-radius: 4px;
            border: 1px solid #c8cccf;
            color: #6a6f77;
            -web-kit-appearance: none;
            -moz-appearance: none;
            display: inline;
            outline: 0;
            padding: 0;
            margin: 0;
            text-decoration: none;
            width: 300px;
        }

        input[type="text"]:focus {
            border: 1px solid #ff7496;
        }

        #tickets {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 13px;
            text-align: center;
            margin: 45px;
            width: 1000px;
            border-collapse: collapse;
        }

        #tickets th {
            font-size: 13px;
            font-weight: normal;
            text-align: center;
            padding: 8px;
            background: #b9c9fe;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #039;
        }

        #tickets td {
            padding: 8px;
            background: #e8edff;
            border-bottom: 1px solid #fff;
            text-align: center;
            color: #669;
            border-top: 1px solid transparent;
        }

        #tickets tr:hover td {
            background: #d0dafd;
            color: #339;
        }
    </style>



{% endblock %}