{% extends '__base__.html' %}

{% block title %}购票{% endblock %}

{% block beforehead %}

    <script xmlns: xmlns: xmlns: xmlns: xmlns: xmlns: xmlns: xmlns:>
    </script>

    <script>
        $(function () {
            var vm = new Vue({
                el: '#vm',
                data: {
                    BusFrom: '',
                    BusTo: '',
                    BusDate: ''
                },
                methods: {
                    submit: function (event) {
                        event.preventDefault();
                        var $form = $('#vm');

                        if (!this.BusFrom) {
                            return $form.showFormError('请输入始发地！');
                        }
                        if (!this.BusTo) {
                            return $form.showFormError('请输入目的地！');
                        }
                        $form.postJSON('/api/query_buses', {
                            BusFrom: this.BusFrom,
                            BusTo: this.BusTo,
                            BusDate: this.BusDate
                        }, function (err, r) {
                            if (err) {
                                return $form.showFormError(err);
                            }
                            refresh2(r);
                        });
                    }
                }
            });
            $('#vm').show();
        });

        function refresh2(r) {
            //console.log(r)
            $("#tickets  tr:not(:first)").html(""); //清空表格

            for (var i = 0; i < r.length; i++) {
                var tr = document.createElement('tr');

                var td_BusID = document.createElement('td')
                var td_BusFrom = document.createElement('td')
                var td_BusTo = document.createElement('td')
                var td_BusDate = document.createElement('td')
                var td_BusEnd = document.createElement('td')

                var td_Order = document.createElement('td');


                td_BusID.innerHTML = r[i].BusID;

                td_BusFrom.innerHTML = r[i].BusFrom;
                td_BusTo.innerHTML = r[i].BusTo;
                td_BusDate.innerHTML = r[i].BusDate;
                td_BusEnd.innerHTML = r[i].BusEnd;

                td_Order.innerHTML = "<p onclick=javascript:getDetails(this)><a>详情</a></p>";
                td_Order.onclick=function () {
                    getDetails(this)
                }

                tr.appendChild(td_BusID);
                tr.appendChild(td_BusFrom);
                tr.appendChild(td_BusTo);
                tr.appendChild(td_BusDate);
                tr.appendChild(td_BusEnd);
                tr.appendChild(td_Order);


                var tbody = document.getElementById('tbody');
                tbody.appendChild(tr);

{#                document.getElementById(i).onclick=function () {#}
{#                    var x=document.getElementById('tickets').rows[i].cells;#}
{#                    //alert();#}
{#                    location='/api/details/'+x[0].innerHTML#}
{#                }#}

            }
        }

        function getDetails(obj) {
            var tr = obj.parentNode;
            location = '/api/details/'+tr.cells[0].innerHTML;

        }

{#        function details(obj) {#}
{#            var tr1 = obj.parentNode.parentNode;#}
{#            {% if  __user__ %}#}
{#                var params = {#}
{#                    "UserID":{{ __user__.UserID }},#}
{#                    "BusID": tr1.cells[0].innerHTML,#}
{#                    "OrderDate": 123,#}
{#                    "BusDate": tr1.cells[3].innerHTML,#}
{#                    "BusEnd": tr1.cells[4].innerHTML,#}
{#                    'BusFrom': tr1.cells[1].innerHTML,#}
{#                    'BusTo': tr1.cells[2].innerHTML#}
{##}
{#                };#}
{#            {% else %}#}
{#                alert('请先登录！');#}
{#                return;#}
{#            {% endif %}#}
{#            window.location.href='/api/details'+BusID#}
{##}
{#            $.ajax({#}
{#                    url: '/api/details',#}
{#                    method: 'post',#}
{#                    data: params,#}
{#                    complete: function (data) {#}
{#                        console.log(data)#}
{#                    },#}
{#                    success: function (data) {#}
{#                        window.location.href='/api/details'+data#}
{##}
{##}
{#                    }#}
{#                }#}
{#            );#}
{#        }#}


    </script>
{% endblock %}

{% block content %}
    <div class="input_control">
        <form id="vm" v-on="submit: submit">
            <div class="uk-alert uk-alert-danger uk-hidden"></div>
            <input v-model="BusFrom" type="text" size="55" placeholder="出发地点">
            <input v-model="BusTo" type="text" size="55" placeholder="到达地点">
            <input v-model="BusDate" type="date" size="55" placeholder="xxxx年xx月xx日">
            <button v-model="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 查询</button>
        </form>
    </div><br>


    <table id="tickets">
        <thead>
        <tr>
            <th scope="col">列车号</th>
            <th scope="col">始发站</th>
            <th scope="col">到达站</th>
            <th scope="col">发车日期</th>
            <th scope="col">到达日期</th>
            <th scope="col">详情</th>
        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>


    <style class="text/css">
        input[type="text"] {
            text-align: center;
            font-size: 1.4em;
            height: 2.0em;
            border-radius: 4px;
            border: 1px solid #c8cccf;
            color: #6a6f77;
            -web-kit-appearance: none;
            -moz-appearance: none;
            display: inline;
            outline: 0;
            padding: 0;
            margin: 0;
            text-decoration: none;
            width: 300px;
        }

        input[type="text"]:focus {
            border: 1px solid #ff7496;
        }

        input[type="date"] {
            text-align: center;
            font-size: 1.4em;
            height: 2.0em;
            border-radius: 4px;
            border: 1px solid #c8cccf;
            color: #6a6f77;
            -web-kit-appearance: none;
            -moz-appearance: none;
            display: inline;
            outline: 0;
            padding: 0;
            margin: 0;
            text-decoration: none;
            width: 300px;
        }

        input[type="date"]:focus {
            border: 1px solid #ff7496;
        }

        #tickets {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            font-size: 13px;
            text-align: center;
            margin: 45px;
            width: 1000px;
            border-collapse: collapse;
        }

        #tickets th {
            font-size: 13px;
            font-weight: normal;
            text-align: center;
            padding: 8px;
            background: #b9c9fe;
            border-top: 4px solid #aabcfe;
            border-bottom: 1px solid #fff;
            color: #039;
        }

        #tickets td {
            padding: 8px;
            background: #e8edff;
            border-bottom: 1px solid #fff;
            text-align: center;
            color: #669;
            border-top: 1px solid transparent;
        }

        #tickets tr:hover td {
            background: #d0dafd;
            color: #339;
        }
    </style>
{% endblock %}